= form_for [@company, @cashtable] do |f|
  .field
    = f.label :Transacition
    %br/
    = f.select :cashrecord, CashTable.cashrecords
  .field
    = f.label :Amount
    %br/
    = f.text_field :amount, onkeyup: "verifyAmount(this)"
  .actions
    = f.submit "Add"

