= form_for [@company, @cashtable] do |f|
  .field
    = f.label :Transacition
    %br/
    = f.select :cashrecord, CashTable.cashrecords
  .field
    = f.label :Amount
    %br/
    = f.number_field :amount
  .actions
    = f.submit "Add"
