= link_to "Add Record", new_company_cash_table_path

%br
%br
%center
  %h3 Cash Deposit

.container

  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} Cash in
        %th{:scope => "col"} Cash out
        %th{:scope => "col"} Total Cash
        %th{:scope => "col"} Date 
      -@cashrecord.each do |record|
        %tbody
          %tr
            %td= record.cash_in
            %td= record.cash_out
            %td= record.total_cash
            %td= record.updated_at 
    