%nav.navbar.navbar-light.bg-light
  %a.navbar-brand 
  %form.form-inline
    = link_to "Sign out", destroy_user_session_path, method: :delete

%br
%center

%button.btn.btn-primary{:type => "button"} Add More
= link_to "Add company", new_company_path



.container
  .card-columns
    .col-sm-4
      - @companies.each do |companie|
        .card.shadow{:style => "width: 15rem; height: 18rem;"}
          .card-body
            %h3.card-title.text-center= companie.name
            %hr/
            %p
              %strong country :
              = companie.country
            %p
              %strong current_cash :
              = companie.current_cash
            %p
              %strong initial_cash :
              = companie.initial_cash
            .text-center
              -# %a.btn.btn-primary.text-center{:href => "#"} Go somewhere
              = link_to "Cash Table", company_cash_tables_path(companie.id)

